<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- All log files located in logs file of the project -->
    <property name="LOGS" value="./logs" />

    <!-- Define the console log format -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFileBy" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/lt-hub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/lt-hub-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 1MB, keep 6 days worth of history, but at most 3M -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>25</maxHistory>
            <totalSizeCap>3MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
    </appender>

    <!-- LOG everything at error level -->
    <root level="info">
        <appender-ref ref="RollingFileBy" />
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.test*" at TRACE level -->
    <logger name="debugger" level="trace" additivity="false">
        <appender-ref ref="RollingFileBy" />
        <appender-ref ref="Console" />
    </logger>

</configuration>