<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="front/fragments/header :: head">


</head>

<body data-spy="scroll" data-target="#toc">


<!-- main menu -->
<div th:replace="front/fragments/header :: main-menu"></div>
<!-- /main menu -->
<div id="outer-container"
     style="display: table;
            width: 100%;
            height: 100%;">

    <!-- side bar https://usefulangle.com/post/61/html-page-with-left-sidebar-main-content-with-css -->
    <div
            style="padding-top: 32px;
            display: table-cell;
            width: 15%;
            vertical-align: top;">
        <!-- table of content-->
        <div id="sidebar" class="sidebar sticky-top" style="padding-top: 64px;">
            <nav data-spy="affix">
                <!-- html с кнопкой экранированный https://v3c.ru/soft/ekranirovanie-html -->
                <div th:if="${msg}"
                     th:utext="'<p>'+${msg} + '</p>'+ '&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;'"
                     class="alert alert-success alert-dismissible fade show" role="alert">
                    <!--<strong>Привет!</strong>
                    <p>Тест доступен на редактирование.</p>-->

                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.alert').alert();
                    });
                </script>

                <a class="btn btn-primary btn-sm btn-block" role="button"
                   th:href="@{/system_view(id=${run.system.id})}">К
                    календарю</a>
                <br>
                <a class="btn btn-primary btn-sm btn-block" role="button" th:href="@{/runs(id=${run.system.id})}">К
                    списку
                    тестов</a>
                <br>
                <a class="btn btn-success btn-sm btn-block" role="button" th:href="@{/run_view(id=${run.id})}">Открыть
                    на
                    просмотр</a>
                <br>
                <!-- кнопка выхода <a class="btn btn-sm btn-warning btn-static" style="color: #212529;" role="button"
                   th:href="@{'/logout'}">Выйти</a>-->
            </nav>

        </div>
    </div>


    <!-- Page Content -->
    <div id="content" class="container"
         style="display: table-cell;
            width: 85%;
            vertical-align: top;">
        <div class="row">
            <div class="col-lg-12 text-center">


                <br>
                <div id="accordion_00">
                    <div class="card">
                        <div class="card-header" id="heading_00">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_00"
                                        aria-expanded="false" aria-controls="collapse_00">
                                    Редактировать основные настройки теста
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_00" class="collapse" aria-labelledby="heading_00"
                             data-parent="#accordion">
                            <div class="card-body">
                                <!--рабочая форма сохранения статуса и видимости-->
                                <!------------------------------------------------------->
                                <form class="card p-3 bg-light" action="#savestatus" th:action="@{/run/save}"
                                      th:object="${run}" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}"/>
                                    <br>
                                    <div class="form-row">
                                        <br>
                                        <div class="form-group col-md-12">
                                            <small id="name" class="form-text text-muted">Название теста</small>
                                            <input type="text" class="form-control form-control-sm"
                                                   th:field="*{name}"></input>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <small id="time_start" class="form-text text-muted">Дата начала теста
                                            </small>
                                            <input id="time_start_input" type="datetime-local"
                                                   class="form-control form-control-sm"
                                                   th:max="*{time_finish}"
                                                   th:field="*{{time_start}}"></input>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <small id="time_finish" class="form-text text-muted">Дата конца теста
                                            </small>
                                            <input id="time_finish_input" type="datetime-local"
                                                   class="form-control form-control-sm"
                                                   th:min="*{time_start}"
                                                   th:field="*{time_finish}"></input>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <small id="stat" class="form-text text-muted">Статус теста</small>
                                            <input th:list="statuses" class="form-control form-control-sm"
                                                   th:field="*{status}">
                                            <datalist id="statuses">
                                                <option th:value="'Создан'" th:text="'Создан'"></option>
                                                <option th:value="'Склонирован'" th:text="'Склонирован'"></option>
                                                <option th:value="'Успешно'" th:text="'Успешно'"></option>
                                                <option th:value="'Успешно c ограничениями'"
                                                        th:text="'Успешно c ограничениями'"></option>
                                                <option th:value="'Неуспешно'" th:text="'Неуспешно'"></option>
                                                <option th:value="'Надо разбираться'"
                                                        th:text="'Надо разбираться'"></option>
                                                <option th:value="'Есть дефект'" th:text="'Есть дефект'"></option>
                                                <option th:value="'Нужен ретест'" th:text="'Нужен ретест'"></option>
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <small id="vis" class="form-text text-muted">Видимость теста</small>
                                            <select class="form-control form-control-sm" th:field="*{visible}">
                                                <option th:value="'true'" th:text="true"></option>
                                                <option th:value="'false'" th:text="false"></option>
                                            </select>
                                        </div>

                                        <!--  сейчас выставляется тот, кто сохраняет
                                        <div class="form-group col-md-12">
                                            <small id="author" class="form-text text-muted">Автор</small>
                                            <select class="form-control form-control-sm" th:name="userID"
                                                    th:value="*{user.id}">
                                                <option th:each="userr : ${users}"
                                                        th:value="${userr.id}"
                                                        th:text="${userr.firstName} +' '+ ${userr.lastName} + ' '+ ${userr.email}"
                                                        th:selected="(${userr.id} == *{user.id})">
                                                </option>
                                            </select>
                                        </div>-->

                                        <div class="form-group col-md-12">
                                            <input type="submit" class="btn btn-primary center-block btn-sm"
                                                   th:value="Сохранить"
                                                   name="action"/>
                                        </div>
                                    </div>
                                </form>
                                <!------------------------------------------------------->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- хранить хтмл как блоб а не как текст https://stackoverflow.com/questions/48303086/saving-html-data-in-a-field-using-blob-or-text-clob-->
                <!--рабочая форма редактирования и сохранения текста-->


                <div id="accordion_0">
                    <div class="card">
                        <div class="card-header" id="heading_0">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_0"
                                        aria-expanded="false" aria-controls="collapse_0">
                                    Редактировать описание теста
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_0" class="collapse" aria-labelledby="heading_0"
                             data-parent="#accordion">
                            <div class="card-body">
                                <!--редактирование информации-->
                                <!------------------------------------------------------->
                                <th:block th:each="infolist: ${run.getInfoTagsList()}">
                                    <th:block th:each="info : ${infolist}">
                                        <form class="card p-3 bg-light" id="summeditt0" action="#saveinfo"
                                              th:action="@{/info/save}"
                                              method="post">
                                            <input th:name="id" type="hidden" th:value="*{run.id}"/>
                                            <input th:name="type" type="hidden" th:value="'run_edit'"/>
                                            <input th:name="infoId" type="hidden" th:value="*{info.id}"/>
                                            <small class="form-text text-muted">Тег информации
                                            </small>
                                            <input style="border: 1px solid #ced4da;" th:name="tag" type="text"
                                                   class="form-control-sm"
                                                   th:value="*{info.tag}"/>
                                            <br>
                                            <textarea th:name="infoInput" type="text" rows="4"
                                                      th:text="*{info.data}"
                                                      th:id="'summedit' + ${info.id}" placeholder="Content"
                                                      class="form-control summer"
                                                      autocomplete="off"></textarea>
                                            <div class="form-group col-md-12">
                                                <input type="submit" class="btn btn-primary center-block btn-sm"
                                                       th:value="Сохранить"
                                                       name="action"/>
                                                <input class="btn btn-warning center-block btn-sm"
                                                       type="submit"
                                                       name="action"
                                                       value="delete"
                                                       id="id_info_deleter"
                                                       th:formaction="@{/info/delete}"

                                                       onclick="javascript:document.getElementById('id_info_deleter');return confirm('Точно хотите удалить это описание?');"
                                                       th:value="Удалить"/>
                                            </div>
                                        </form>
                                        <br>
                                    </th:block>
                                </th:block>
                                <br>

                                <form class="card p-3 bg-light" action="#addinfo" th:action="@{/info/add}"
                                      method="post">
                                    <span>Добавить описание</span>
                                    <input th:name="id" type="hidden" th:value="*{run.id}"/>
                                    <input th:name="type" type="hidden" th:value="'run_edit'"/>
                                    <small class="form-text text-muted">Тег информации</small>
                                    <input style="border: 1px solid #ced4da;" th:name="tag" type="text"
                                           class="form-control-sm"/>
                                    <br>
                                    <textarea th:name="infoInput" type="text" rows="4"
                                              placeholder="Описание теста" class="form-control"
                                              autocomplete="off"></textarea>
                                    <div class="form-group col-md-12">
                                        <input type="submit" class="btn btn-success center-block btn-sm"
                                               th:value="Добавить"
                                               name="add"/>
                                    </div>
                                </form>

                                <script>
                                    $('.form-control.summer').summernote({
                                        height: 200
                                    });
                                </script>
                                <!------------------------------------------------------->
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div id="accordion_1">
                    <div class="card">
                        <div class="card-header" id="heading_1">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_1"
                                        aria-expanded="false" aria-controls="collapse_1">
                                    Редактировать вложения
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_1" class="collapse" aria-labelledby="heading_1"
                             data-parent="#accordion">
                            <div class="card-body">
                                <!------------------------------------------------------->
                                <!--удаление вложений-->
                                <div th:if="${not #lists.isEmpty(run.attaches)}">
                                    <th:block th:each="attach: ${run.attaches}">
                                        <form class="card p-3 bg-light" action="delete"
                                              th:action="@{/attach/update}"
                                              th:object="${attach}" method="post">
                                            <input th:name="id" type="hidden" th:value="${run.id}"/>
                                            <input th:name="type" type="hidden" th:value="'run_edit'"/>
                                            <input th:name="attach_id" type="hidden" th:value="${attach.id}"/>
                                            <span>Имя файла</span>
                                            <input type="text" class="form-control form-control-sm" th:name="${'name'}"
                                                   th:value="${attach.name}"></input>
                                            <br>

                                            <span>Тег вложения</span>
                                            <input type="text" class="form-control form-control-sm" th:name="${'tag'}"
                                                   th:value="${attach.tag}"></input>
                                            <br>
                                            <!--<div class="form-group col-md-12">
                                                <input class="btn btn-warning center-block btn-sm" type="submit"
                                                       th:value="Удалить"/>
                                            </div>-->
                                            <div class="form-group col-md-12">

                                                <input class="btn btn-primary center-block btn-sm"
                                                       type="submit"
                                                       name="attach_action"
                                                       value="update"
                                                       th:value="Обновить"/>


                                                <input class="btn btn-warning center-block btn-sm"
                                                       type="submit"
                                                       name="attach_action"
                                                       value="delete"
                                                       id="id_attach_deleter"
                                                       th:formaction="@{/attach/delete}"
                                                       onclick="javascript:document.getElementById('id_attach_deleter');return confirm('Точно хотите удалить этот файл?');"
                                                       th:value="Удалить"/>

                                            </div>
                                        </form>
                                        <br>
                                    </th:block>
                                </div>

                                <!--загрузка вложений-->
                                <form class="card p-3 bg-light" action="upload" th:action="@{/attach/upload}"
                                      method="post"
                                      enctype="multipart/form-data">
                                    <span>Загрузить новый файл</span>
                                    <input th:name="id" type="hidden" th:value="${run.id}"/>
                                    <input th:name="type" type="hidden" th:value="'run_edit'"/>
                                    <small class="form-text text-muted">Тег вложения
                                    </small>
                                    <input type="text" class="form-control form-control-sm"
                                           th:name="tag"></input>
                                    <input th:name="data" type="file" class="form-control-file"/>
                                    <div class="form-group col-md-12">
                                        <input class="btn btn-success center-block btn-sm" type="submit"
                                               th:value="Загрузить"/>
                                    </div>
                                </form>
                                <!------------------------------------------------------->
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div id="accordion_2">
                    <div class="card">
                        <div class="card-header" id="heading_2">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_2"
                                        aria-expanded="false" aria-controls="collapse_2">
                                    Редактировать статистику
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_2" class="collapse" aria-labelledby="heading_2"
                             data-parent="#accordion">
                            <div class="card-body">
                                <th:block th:each="period,i: ${run.getPeriod_stats()}">

                                    <div class="container"
                                         style="width:100%; padding-left: 0px;padding-right: 0px; max-width: 100%;">
                                        <a th:href="${'#clpse'+period.id}" class="btn btn-outline-primary"
                                           data-toggle="collapse"
                                           th:text="${period?.time_start?.format(df)}+ ' - ' + ${period?.time_finish?.format(df)}"></a>
                                        <br>
                                        <div th:id="${'clpse'+period.id}" class="collapse"
                                             style="width:100%; padding-left: 0px;padding-right: 0px;">
                                            <br>


                                            <form th:id="${'period_id_'+period.id}" class="card p-3 bg-light"
                                                  th:action="@{/period_stat/update}"
                                                  method="post">
                                                <input th:name="run_id" type="hidden" th:value="${run.id}"/>
                                                <input th:name="period_id" type="hidden" th:value="${period.id}"/>
                                                <div class="row">
                                                    <div class="col-8">
                                                        <small class="form-text text-muted" style="font-weight: bold">
                                                            Информация
                                                            о периоде
                                                        </small>
                                                        <input
                                                                th:name="period_about"
                                                                type="text"
                                                                class="form-control form-control-sm"
                                                                th:value="${period.about}"/>
                                                    </div>

                                                    <div class="col-1" style="padding: 1% 1%;">
                                                        <input class="btn btn-outline-primary center-block btn-sm btn-block"
                                                               type="submit"
                                                               name="period_update_action"
                                                               th:value="Update"/>
                                                    </div>

                                                    <div class="col-1" style="padding: 1% 1%;">
                                                        <input class="btn btn-outline-warning center-block btn-sm btn-block"
                                                               type="submit"
                                                               name="period_delete_action"
                                                               id="id_period_stat_deleter"
                                                               th:formaction="@{/period_stat/delete}"
                                                               onclick="javascript:document.getElementById('id_period_stat_deleter');return confirm('Точно хотите удалить этот период?');"
                                                               th:value="Delete"/>
                                                    </div>


                                                    <div class="col-2" style="padding: 1% 1%;">
                                                        <input class="btn btn-outline-success center-block btn-sm btn-block"
                                                               type="submit"
                                                               name="period_delete_action"
                                                               id="id_script_adder"
                                                               th:formaction="@{/stat/add}"
                                                               th:value="${'Add script'}"/>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <small class="form-text text-muted" style="font-weight: bold">
                                                            Профиль в %
                                                        </small>
                                                        <input
                                                                th:name="period_profile"
                                                                type="number"
                                                                step="0.01"
                                                                class="form-control form-control-sm"
                                                                th:value="${period.profile}"/>
                                                    </div>
                                                    <div class="col">
                                                        <small class="form-text text-muted" style="font-weight: bold">
                                                            Tps
                                                        </small>
                                                        <input
                                                                th:name="period_tps"
                                                                type="number"
                                                                step="0.01"
                                                                class="form-control form-control-sm"
                                                                th:value="${period.tps}"/>
                                                    </div>
                                                    <div class="col">
                                                        <small class="form-text text-muted" style="font-weight: bold">
                                                            Начало периода
                                                        </small>
                                                        <input
                                                                th:name="period_time_start"
                                                                type="datetime-local"
                                                                class="form-control form-control-sm"
                                                                th:value="${period.time_start}"/>
                                                    </div>
                                                    <div class="col">
                                                        <small class="form-text text-muted" style="font-weight: bold">
                                                            Конец периода
                                                        </small>
                                                        <input
                                                                th:name="period_time_finish"
                                                                type="datetime-local"
                                                                class="form-control form-control-sm"
                                                                th:value="${period.time_finish}"/>
                                                    </div>

                                                </div>

                                            </form>
                                            <th:block
                                                    th:each="stat,j: ${period?.getAllForEditParentsAndChildsInOrder()}">
                                                <br>
                                                <!--<hr style="width:75%;text-align:center; margin: auto;">-->
                                                <form th:id="${'stat_id_'+stat.id}" class="card p-1 bg-light border"
                                                      th:action="@{/stat/update}" method="post">
                                                    <input th:name="run_id" type="hidden" th:value="${run.id}"/>
                                                    <input th:name="stat_id" type="hidden" th:value="${stat.id}"/>

                                                    <div class="row">
                                                        <div class="col-3">
                                                            <small class="form-text text-muted">Parent script
                                                            </small>
                                                            <input
                                                                    disabled="true"
                                                                    th:name="parent_stat_script"
                                                                    th:readonly="true"
                                                                    type="text"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat?.parent?.script}"/>
                                                        </div>
                                                        <div class="col-4">
                                                            <small class="form-text text-muted">Script</small>
                                                            <input
                                                                    th:name="stat_script"
                                                                    type="text"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat?.script}"/>
                                                        </div>
                                                        <div class="col-xs-1" style="padding: 0.5% 0.5%;">
                                                            <input class="btn btn-outline-primary center-block btn-sm btn-block"
                                                                   type="submit"
                                                                   name="stat_update_action"
                                                                   th:value="update"/>
                                                        </div>
                                                        <div class="col-xs-1" style="padding: 0.5% 0.5%;">
                                                            <input class="btn btn-outline-warning center-block btn-sm btn-block"
                                                                   type="submit"
                                                                   name="stat_delete_action"
                                                                   id="id_stat_deleter"
                                                                   th:formaction="@{/stat/delete}"
                                                                   onclick="javascript:document.getElementById('id_stat_deleter');return confirm('Точно хотите удалить эту запись статистики?');"
                                                                   th:value="delete"/>
                                                        </div>
                                                        <div class="col-xs-1" style="padding: 0.5% 0.5%;">
                                                            <input class="btn btn-outline-success center-block btn-sm btn-block"
                                                                   type="submit"
                                                                   name="stat_add_time_action"
                                                                   id="id_stat_time_adder"
                                                                   th:formaction="@{/stat/add/time}"
                                                                   th:value="${'+ time'}"/>
                                                        </div>
                                                        <div th:if="${stat.getParent()==null}" class="col-xs-1"
                                                             style="padding: 0.5% 0.5%;">
                                                            <input class="btn btn-outline-success center-block btn-sm btn-block"
                                                                   type="submit"
                                                                   name="child_add_action"
                                                                   id="id_child_adder"
                                                                   th:formaction="@{/stat/add/child}"
                                                                   th:value="${'+ child'}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <small class="form-text text-muted">SLA</small>
                                                            <input
                                                                    th:name="stat_sla"
                                                                    type="number"
                                                                    step="0.01"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat.sla}"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <small class="form-text text-muted">Profile</small>
                                                            <input
                                                                    th:name="stat_profile"
                                                                    type="number"
                                                                    step="0.01"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat.profile}"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <small class="form-text text-muted">Pass count</small>
                                                            <input
                                                                    th:name="stat_pass_count"
                                                                    type="number"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat.pass_count}"/>
                                                        </div>
                                                        <div class="col-2">
                                                            <small class="form-text text-muted">Fail count</small>
                                                            <input
                                                                    th:name="stat_fail_count"
                                                                    type="number"
                                                                    class="form-control form-control-sm"
                                                                    th:value="${stat.fail_count}"/>
                                                        </div>
                                                    </div>


                                                </form>

                                                <th:block th:each="stat_time,k: ${stat?.getStat_time()}">
                                                    <form th:id="${'stat_time_id_'+stat_time.id}"
                                                          class="card p-1 bg-light border"
                                                          th:action="@{/stat_time/update}" method="post">
                                                        <input th:name="run_id" type="hidden" th:value="${run.id}"/>
                                                        <input th:name="stat_time_id" type="hidden"
                                                               th:value="${stat_time.id}"/>

                                                        <div class="row">
                                                            <div class="col-2">
                                                                <small class="form-text text-muted">Tag</small>
                                                                <input
                                                                        th:name="stat_time_tag"
                                                                        type="text"
                                                                        class="form-control form-control-sm"
                                                                        th:value="${stat_time?.tag}"/>
                                                            </div>
                                                            <div class="col-2">
                                                                <small class="form-text text-muted">Pass time</small>
                                                                <input
                                                                        th:name="stat_time_pass_time"
                                                                        type="number"
                                                                        step="0.01"
                                                                        class="form-control form-control-sm"
                                                                        th:value="${stat_time?.pass_time}"/>
                                                            </div>
                                                            <div class="col-2">
                                                                <small class="form-text text-muted">Fail time</small>
                                                                <input
                                                                        th:name="stat_time_fail_time"
                                                                        type="number"
                                                                        step="0.01"
                                                                        class="form-control form-control-sm"
                                                                        th:value="${stat_time?.fail_time}"/>
                                                            </div>


                                                            <div class="col-xs-1" style="padding: 1% 1%;">
                                                                <input class="btn btn-outline-primary center-block btn-sm btn-block"
                                                                       type="submit"
                                                                       name="stat_time_update_action"
                                                                       th:value="upd"/>
                                                            </div>
                                                            <div class="col-xs-1" style="padding: 1% 1%;">
                                                                <input class="btn btn-outline-warning center-block btn-sm btn-block"
                                                                       type="submit"
                                                                       name="stat_time_delete_action"
                                                                       id="id_stat_time_deleter"
                                                                       th:formaction="@{/stat_time/delete}"
                                                                       onclick="javascript:document.getElementById('id_stat_time_deleter');return confirm('Точно хотите удалить эту запись времени?');"
                                                                       th:value="del"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                    <br>
                                </th:block>

                                <form class="card p-3 bg-light" th:action="@{/period_stat/add}"
                                      method="post">
                                    <input th:name="run_id" type="hidden" th:value="${run.id}"/>
                                    <div class="row">
                                        <div class="col">
                                            <small class="form-text text-muted">Информация о периоде</small>
                                            <input
                                                    th:name="period_about"
                                                    type="text"
                                                    class="form-control form-control-sm"/>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <input class="btn btn-success center-block btn-sm"
                                               type="submit"
                                               name="period_add_action"
                                               th:value="Добавить"/>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

                <br>
                <div id="accordion_3">
                    <div class="card">
                        <div class="card-header" id="heading_3">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_3"
                                        aria-expanded="false" aria-controls="collapse_3">
                                    Редактировать графики
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_3" class="collapse" aria-labelledby="heading_3"
                             data-parent="#accordion">
                            <div class="card-body">

                                <!------------------------------------------------------->
                                <!--удаление графиков-->
                                <div th:if="${not #lists.isEmpty(run.graphs)}">
                                    <th:block th:each="ugraphs,u : ${run.uniqueGraphTagsList}">


                                        <div class="container"
                                             style="width:100%; padding-left: 0px;padding-right: 0px; max-width: 100%;">
                                            <a th:href="${'#graf_clpse_'+u.index}" class="btn btn-outline-primary"
                                               data-toggle="collapse"
                                               th:text="${ugraphs?.get(0)?.tag}"></a>
                                            <br>
                                            <div th:id="${'graf_clpse_'+u.index}" class="collapse"
                                                 style="width:100%; padding-left: 0px;padding-right: 0px;">
                                                <br>

                                                <th:block th:each="graph: ${ugraphs}">
                                                    <form class="card p-3 bg-light" action="updategraph"
                                                          th:action="@{/graph/update}"
                                                          th:object="${graph}" method="post">
                                                        <!--onsubmit="return confirm('Точно хотите удалить этот файл?');"-->

                                                        <!--<input th:about="id" type="hidden" th:value="*{run.id}"/>-->
                                                        <input th:name="id" type="hidden" th:value="${graph.id}"/>
                                                        <input th:name="run_id" type="hidden" th:value="${run.id}"/>
                                                        <span>Тег графика</span>
                                                        <input type="text" class="form-control form-control-sm"
                                                               th:name="tag" th:value="${graph.tag}"></input>
                                                        <img style="width:720px;height:360px;align-self: center;"
                                                             th:src="@{'data:image/png;base64,'+${graph.generateBase64Image()}}"
                                                             alt="not found"/>
                                                        <br>
                                                        <span>Описание</span>
                                                        <input type="text" class="form-control form-control-sm"
                                                               th:name="about" th:value="${graph.about}"></input>
                                                        <div class="form-group col-md-12">
                                                            <!--<input class="btn btn-primary center-block btn-warning btn-sm"
                                                                   type="submit"
                                                                   th:value="Удалить"/>
                                                            -->
                                                            <input class="btn btn-primary center-block btn-sm"
                                                                   type="submit"
                                                                   name="graph_action"
                                                                   value="update"
                                                                   th:value="Обновить"/>


                                                            <input class="btn btn-warning center-block btn-sm"
                                                                   type="submit"
                                                                   name="graph_action"
                                                                   value="delete"
                                                                   id="id_graph_deleter"
                                                                   th:formaction="@{/graph/delete}"

                                                                   onclick="javascript:document.getElementById('id_graph_deleter');return confirm('Точно хотите удалить этот график?');"
                                                                   th:value="Удалить"/>

                                                        </div>
                                                    </form>
                                                    <br>
                                                </th:block>
                                            </div>
                                        </div>
                                        <br>
                                    </th:block>
                                </div>

                                <!--загрузка графиков-->
                                <form class="card p-3 bg-light" action="upload" th:action="@{/graph/upload}"
                                      method="post"
                                      enctype="multipart/form-data">
                                    <span>Загрузить новый график</span>
                                    <input th:name="id" type="hidden" th:value="${run.id}"/>

                                    <small class="form-text text-muted">Тег графика</small>
                                    <input type="text" class="form-control form-control-sm"
                                           th:name="tag"></input>

                                    <small class="form-text text-muted">Описание графика</small>
                                    <input type="text" class="form-control form-control-sm"
                                           th:name="about"></input>

                                    <input th:name="data" type="file" class="form-control-file"/>
                                    <div class="form-group col-md-12">
                                        <input class="btn btn-success center-block btn-sm" type="submit"
                                               th:value="Загрузить"/>
                                    </div>
                                </form>
                                <!------------------------------------------------------->
                            </div>

                        </div>
                    </div>

                </div>

                <!-- 5 step -->

                <br>
                <div id="accordion_delete">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Удалить тест
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <!-- Ты чё пёс?-->
                                <!------------------------------------------------------->
                                <form action="#deleterun" th:action="@{/run/delete/}"
                                      th:object="${run}" method="post"
                                      onSubmit="return check();">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{system.id}"/>
                                    <small class="form-text text-muted">Напишите УДАЛИТЬ</small>
                                    <input type="text" class="form-control form-control-sm" id="deleter"
                                           name="question" autocomplete="off">
                                    <div class="form-group col-md-12">
                                        <input type="submit" class="btn btn-primary center-block btn-sm"
                                               th:value="Удалить"
                                               name="action"/>
                                    </div>
                                </form>
                                <!------------------------------------------------------->
                            </div>
                        </div>
                    </div>

                </div>

                <script type="text/javascript">
                    function check() {
                        var searchtext = document.getElementById("deleter").value;
                        if (searchtext != 'УДАЛИТЬ') {
                            alert('Подтвердите удаление');
                            return false;
                        }
                    }
                </script>


                <!-- с ней красивее -->
                <script type="text/javascript">
                    $(function () {
                        $('.SLA.table.table-sm').bootstrapTable()
                    })
                </script>

                <br>
            </div>
        </div>
    </div>
</div>


</body>
</html>